<style>
    .my-custom-scrollbar {
        position: relative;
        height: 230px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>

<div class="modal fade" id="ModalDetalles">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 special-grid">
                                <div class="form-group products-single fix">
                                    <div class="box-img-hover">
                                        <div class="type-lb">
                                            <p class="sale" id="detallePrecio"></p>
                                        </div>
                                        <img src="" id="detalleImagen" style="width:350px;height:230px;" alt="">
                                        <div class="mask-descripcion">
                                            <a class="cart" id="detalleDescripcion" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group table-wrapper-scroll-y my-custom-scrollbar">
                                    <table id="tablaProductos" class="table table-hover " style="text-align:center;">
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                    @if (Session["id"] != null)
                                    {
                                        <input type="number" id="detalleCantidad"  min="1" max="99" step="1"   style="width:50%" required />
                                    }
                                    else
                                    {
                                        <input type="number"  value="" min="0" max="99" step="1" placeholder="Ingrese una cantidad" style="width:50%" disabled />
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 text-center" style="display:inline-block;">
                                <div class="form-group">
                                    @if (Session["id"] != null)
                                    {
                                        <button class="btn hvr-hover" id="btnAgregarOrden" type="button" style="display:inline-block;font-weight:bold;color:white;">
                                            <i class="fas fa-cart-plus"></i>
                                            Añadir a mi orden
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn hvr-hover"  type="button" style="display:inline-block;font-weight:bold;color:white;" disabled>
                                            <i class="fas fa-cart-plus"></i>
                                            Inicie sesión para comprar
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="ModalDetalles2">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 special-grid">
                                <div class="form-group products-single fix">
                                    <div class="box-img-hover">
                                        <div class="type-lb">
                                            <p class="sale" id="detalle2Precio"></p>
                                        </div>
                                        <img src="" id="detalle2Imagen" style="width:350px;height:230px;" alt="">
                                        <div class="mask-descripcion">
                                            <a class="cart" id="detalle2Descripcion" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group table-wrapper-scroll-y my-custom-scrollbar">
                                    <table id="tablaProductos2" class="table table-hover " style="text-align:center;">
                                        <tbody>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
