<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class='col-12 modal-title text-center'>
                    INICIO DE SESIÓN
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </h2>
            </div>
            <div class="modal-body">
                <div class="text-center title-all" style="font-weight:bold;color:black;">
                    BIENVENIDO
                    <p style="font-weight:lighter">
                        Acceda con su cuenta o cree una si aún no la posee
                    </p>
                </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contact-form-right">
                                    <form id="LoginForm" action="@Url.Action("Login", "Cliente")">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Correo electrónico:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="txtCorreoLogin" name="txtCorreoLogin" placeholder="Introduce tu correo electronico" required data-error="Introduzca el correo electrónico">
                                                    </div>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Contraseña:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                                        </div>
                                                        <input type="password" placeholder="Introduce tu contraseña" id="txtPassworkLogin" class="form-control" name="txtPassworkLogin" required data-error="Introduzca una contraseña">
                                                    </div>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <label for="txtRecuerdame">
                                                        <input class="form-check-input" type="checkbox" id="txtRecuerdame" name="txtRecuerdame" /><label class="form-check-label" for="txtRecuerdame">Recuérdame</label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <a style="color:orange;" data-toggle="modal" data-target="#modalRecuperarEmail" href="#">¿Olvidaste tu contraseña?</a><br />
                                                <span>¿Aún no posee una cuenta? <a style="color:orange;" href="@Url.Action("Registrarme", "Cliente")">Regístrese</a></span>
                                                <div class="submit-button text-center">
                                                    <br />
                                                    <button class="btn hvr-hover" id="submit" type="submit">Iniciar Sesion</button>
                                                    <br />
                                                    <div id="msgSubmitLogin" class="h3 text-center hidden"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
