<!-- Modal -->
<div class="modal fade" id="modalRecuperarEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class='col-12 modal-title text-center'>
                    REESTABLECIMIENTO DE CONTRASEÑA
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </h2>
            </div>

            <div class="modal-body">
                <div class="contact-box-main">
                    <div class="text-center title-all" style="font-weight:bold;color:black;">
                        ESTIMADO CLIENTE:
                        <p style="font-weight:lighter">
                            Introduzca la dirección de correo electrónico asociada a su cuenta. Recibirá un correo con instrucciones para reestablecer su contraseña.
                        </p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contact-form-right">
                                    <form id="RecuperarEmailForm" action="@Url.Action("RecuperacionCuenta", "Cliente")">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Correo electrónico:</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" class="form-control" id="txtCorreoRecuperar" name="txtCorreoRecuperar" placeholder="Introduzca su correo electrónico" required data-error="Introduzca su correo electrónico">
                                                    </div>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="submit-button text-center">
                                                    <button class="btn hvr-hover" id="submit" type="submit">Reestablecer contraseña</button>
                                                    <br />
                                                    <div id="msgSubmitREcuperarEmail" class="h3 text-center hidden"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


