<!-- Modal -->
<div class="modal fade" id="modalRecuperarEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Start Contact Us  -->
                <div class="contact-box-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contact-form-right">
                                    <h2>Recuperar Cuenta</h2>
                                    <p>Introduce tu dirección de correo electrónico y te mandaremos un correo electrónico con instrucciones para restablecer tu contraseña..</p>
                                    <form id="RecuperarEmailForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="txtCorreoLogin" name="txtCorreoRecuperar" placeholder="Introduce tu correo electronico" required data-error="Por favor Introduce tu Correo">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="submit-button text-center">
                                                    <button class="btn hvr-hover" id="submit" type="submit">Recuperar Cuenta</button>
                                                    <div id="msgSubmitREcuperarEmail" class="h3 text-center hidden"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


