<!-- Modal -->
<div class="modal fade" id="ModalRegistrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Start Contact Us  -->
                <div class="contact-box-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contact-form-right">
                                    <h2>Registrate</h2>
                                    <p>
                                        Vamos crea tu perfil <br />
                                        Es muy sencillo. En menos de 2 minutos disfrutaras de nuestros productos
                                    </p>
                                    <form id="RegistrarmeForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="txtNombresRegistro" name="txtNombresRegistro" placeholder="Introduce tus nombres" required data-error="Por favor Introduce tus nomvres">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="txtApellidosRegistro" name="txtApellidosRegistro" placeholder="Introduce tus apellidos" required data-error="Por favor Introduce tus apellidos">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="number" placeholder="Introduce tu telefono fijo" id="txtTelefonoFijoRegistro" class="form-control" name="txtTelefonoFijoRegistro" required data-error="Por favor Introduce tu telefono fijo">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="number" placeholder="Introduce tu telefono celular" id="txtTelefonoCelRegistro" class="form-control" name="txtTelefonoCelRegistro" required data-error="Por favor Introduce tu telefono celular">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Introduce tu contraseña" id="txtPassworkRegistro" class="form-control" name="txtPassworkRegistro" required data-error="Por favor Introduce tu contraseña">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Introduce tu contraseña" id="txtPassworkRegistroconfi" class="form-control" name="txtPassworkRegistroconfi" required data-error="Por favor Introduce tu contraseña">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>


                                            <div class="col-md-12">
                                                <a style="color:orange;" data-toggle="modal" data-target="#modalRecuperarEmail" href="#">¿Olvidaste tu contraseña?</a><br />
                                                <span>¿Tienes una cuenta? <a style="color:orange;" data-toggle="modal" data-target="#modalLogin" href="#"> Iniciar Sesion</a></span>

                                                <div class="submit-button text-center">
                                                    <br />
                                                    <button class="btn hvr-hover" id="submit" type="submit">Iniciar Sesion</button>
                                                    <div id="msgSubmitRegistrate" class="h3 text-center hidden"></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

