@model  RestauranteWeb.Models.ModelHistorialOrdenes
@{
    ViewBag.Title = "Inicio";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tablero de estadísticas</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Tablero de estadísticas</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-info">
                        <div class="inner">
                            <h3>150<sup style="font-size: 30px">+</sup></h3>
                            <p>Nuevas ordenes</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-hamburger"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-success">
                        <div class="inner">
                            <h3>53</h3>
                            <p>Ordenes realizadas</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-maroon">
                        <div class="inner">
                            <h3>44<sup style="font-size: 30px">+</sup></h3>
                            <p>Nuevos clientes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-purple">
                        <div class="inner">
                            <h3>65</h3>
                            <p>Clientes registrados</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- Main row -->
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <!-- solid sales graph -->
                    <div class="card bg-gradient-navy">
                        <div class="card-header border-0">
                            <h3 class="card-title">
                                <i class="fas fa-th mr-1"></i>
                                Gráfico de ventas en línea - 2020
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn bg-gradient-navy btn-sm" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="text-white">% Productos individuales</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 text-center">
                                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                           data-fgColor="#39CCCC">

                                    <div class="text-white">% Combos</div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                   
                </section>
                <!-- Left col -->
            </div>

        </div>
    </section>

    <div class="modal fade" id="ModalOrden-DetallesHoy">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-gradient-navy">
                <div class="modal-header text-center">
                    <h4 class="modal-title">DETALLES DE ORDEN</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center" style="font-weight:bold;">
                        DATOS DEL CLIENTE
                    </div>
                    <hr style="border-color:white" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nombre completo:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nombre del cliente" id="nombreCliente" value="Saúl Ernesto Castillo Chamagua" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Dirección de entrega:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Dirección de entrega del cliente" id="direccionCliente" value="Soyapango, Urbanización Montes de San Bartolo 3, Polígono 47, Casa 82" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Teléfono de contacto:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Teléfono de contacto" id="telefonoCliente" data-inputmask='"mask": "9999-9999"' data-mask value="7442-2219" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Correo Electrónico:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Correo electrónico del cliente" id="correoCliente" data-inputmask="'alias': 'email'" data-mask value="secch97@gmail.com" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" style="font-weight:bold;">
                        DATOS DEL PEDIDO
                    </div>
                    <hr style="border-color:white" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Código:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-code"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Código de orden" id="codigoOrden" value="2" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fecha y hora:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Fecha y hora de orden" id="fechaOrden" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy HH:MM" data-mask value="29/10/2020 14:30" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Estado:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-flag"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Estado de la orden" id="estadoOrden" value="Procesada" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID Objeto</th>
                                        <th>Nombre objeto</th>
                                        <th>Cantidad</th>
                                        <th>Precio unitario</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Paquete DuoBurguesa</td>
                                        <td>1</td>
                                        <td>$11.99</td>
                                        <td>$11.99</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>Coca Cola 1.5lt</td>
                                        <td>1</td>
                                        <td>$l.50</td>
                                        <td>$1.50</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                        <div class="col-6" style="margin-left:auto">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Total de orden:</th>
                                        <td>$13.49</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="ModalHistorialEtapasHoy">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-gradient-navy">
                <div class="modal-header text-center">
                    <h4 class="modal-title">DETALLES DE ORDEN</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center" style="font-weight:bold;">
                        HISTORIAL DE ETAPAS
                    </div>
                    <hr style="border-color:white" />
                    <div class="card-body">
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID Orden</th>
                                            <th>Fecha</th>
                                            <th>Etapa</th>
                                            <th>Actualizado por</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>29/10/2020 14:00</td>
                                            <td><span class="badge badge-warning" style="font-weight:bold;">Solicitada</span></td>
                                            <td>Administrador</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>29/10/2020 14:05</td>
                                            <td><span class="badge badge-info" style="font-weight:bold;">Procesada</span></td>
                                            <td>Administrador</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>29/10/2020 14:30</td>
                                            <td><span class="badge badge-success" style="font-weight:bold;">Entregada</span></td>
                                            <td>Administrador</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <div class="modal fade" id="ModalEditarEtapaHoy">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-gradient-navy">
                <div class="modal-header text-center">
                    <h4 class="modal-title">EDICIÓN DE ETAPA</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="text-center" style="font-weight:bold;">
                            SELECCIÓN DE ETAPA
                        </div>
                        <hr style="border-color:white" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select id="etapaOrden-EdicionHoy" class="form-control select2" required>
                                            <option></option>
                                            <option value="1" selected>Solicitada</option>
                                            <option value="2">Procesada</option>
                                            <option value="3">Entregada</option>
                                            <option value="4">Cancelada</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-pen"></i>
                            Actualizar
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
