
@{
    ViewBag.Title = "Inicio";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <a href="#">
                <img src="~/Content/imagenes/Promociones/DuoBurguesa.png" alt="">
                <div class="container">
                </div>
            </a>
        </li>
         
        <li class="text-center">
            <a href="#">
                <img src="~/Content/imagenes/Promociones/Familiar.png"  alt="">
                <div class="container">
                </div>
            </a>
        </li>
        <li class="text-center">
            <a href="#">
                <img src="~/Content/imagenes/Promociones/Economico.png"  alt="">
                <div class="container">
                </div>
            </a>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>CATEGORÍAS</h1>
                    <hr />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Combos.png" alt="" />
                    <a class="btn hvr-hover" href="#">COMBOS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Hamburguesas.png" alt="" />
                    <a class="btn hvr-hover" href="#">HAMBURGUESAS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Acompañamientos.png" alt="" />
                    <a class="btn hvr-hover" href="#">ACOMPAÑAMIENTOS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Ensaladas.png" alt="" />
                    <a class="btn hvr-hover" href="#">ENSALADAS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Bebidas.png" alt="" />
                    <a class="btn hvr-hover" href="#">BEBIDAS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Postres.png" alt="" />
                    <a class="btn hvr-hover" href="#">POSTRES</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<!-- End Categories -->
