
@{
    ViewBag.Title = "Verificar Cuenta";
}

<h2>VerificarCuenta</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Exitoso! </strong> Tu cuenta se verifico exitosamente. Click aqui para <a href="#" data-toggle="modal" data-target="#modalLogin">Iniciar Sesion</a>
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>Error! </strong> @ViewBag.Message
    </div>
        }
